body{
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.55);
  color: #000;
  width: 75%;
  height: auto;
  min-height: 50vh;
  max-width: 50%;
  min-width: 300px;
  margin-top: 15%;
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#control-pad{
  justify-items: center;
  position: relative;
  top: -50px;
}

#mute-btn, #exit{
  width: 100px;
}

#game-pad{
  justify-content: center;
  align-items: center;
}

#stats-section{
  width:100%;
  display: flex;
  position: relative;
  top: -40px;
  flex-direction: row;
  background-color: #4746aa;
  color: #FFF;
  border-radius: 5px;
}

#score{
  font-size: 20px;
}

div{
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 48px;
  color: #4746aa;
  text-shadow: 0px 4px 10px rgba(179, 147, 211, 0.8)
}

h3{
  color: #4746aa;
}

button{
  font-family: 'Varela Round', sans-serif;
  padding: 5px;
  width: 75%;
  height: 25%;
  margin: 2px;
  border: solid 2px;
  font-size: 16px;
  color: #4746aa;
  background-color: #FFF;
  border-radius: 5px;
}

button:hover{
  background-color: #4746aa;
  color: #FFF;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(110, 77, 185, 0.5);
}

button:active{
  background-color: #8d8dc0;
}

input{
  width: auto;
  padding: 5px;
  margin: auto;
  color: #4746aa;
  border: solid 2px;
  border-radius: 5px;
  font-size: 16px;
}

#go{
  width: 50%
}

#questionLabel{
  text-align: left;
}

#Timer{
  color: #61dafb;
}

table {
  border: 1px solid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  width: 100%
}

